Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [1]:
import pandas as pd
import sys

In [2]:
df = pd.read_csv('../../../Code_Here/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')

In [3]:
print(df.shape)
df.head()

(271116, 15)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df['Sport'].describe()

count        271116
unique           66
top       Athletics
freq          38624
Name: Sport, dtype: object

In [5]:
df['Sport'].isnull().sum()

0

In [6]:
pd.set_option('display.max_rows', 66)
df['Sport'].value_counts()

Athletics                    38624
Gymnastics                   26707
Swimming                     23195
Shooting                     11448
Cycling                      10859
Fencing                      10735
Rowing                       10595
Cross Country Skiing          9133
Alpine Skiing                 8829
Wrestling                     7154
Football                      6745
Sailing                       6586
Equestrianism                 6344
Canoeing                      6171
Boxing                        6047
Speed Skating                 5613
Ice Hockey                    5516
Hockey                        5417
Biathlon                      4893
Basketball                    4536
Weightlifting                 3937
Water Polo                    3846
Judo                          3801
Handball                      3665
Art Competitions              3578
Volleyball                    3404
Bobsleigh                     3058
Tennis                        2862
Diving                        2842
Ski Jumping                   2401
Archery                       2334
Figure Skating                2298
Table Tennis                  1955
Modern Pentathlon             1677
Short Track Speed Skating     1534
Luge                          1479
Badminton                     1457
Nordic Combined               1344
Freestyle Skiing               937
Snowboarding                   936
Synchronized Swimming          909
Baseball                       894
Rhythmic Gymnastics            658
Taekwondo                      606
Beach Volleyball               564
Triathlon                      529
Softball                       478
Curling                        463
Rugby Sevens                   299
Golf                           247
Skeleton                       199
Tug-Of-War                     170
Rugby                          162
Trampolining                   152
Polo                            95
Lacrosse                        60
Alpinism                        25
Military Ski Patrol             24
Cricket                         24
Croquet                         19
Motorboating                    17
Racquets                        12
Jeu De Paume                    11
Roque                            4
Basque Pelota                    2
Aeronautics                      1
Name: Sport, dtype: int64

In [7]:
y = df['Sport']
y.nunique()

66

In [8]:
y.value_counts(normalize = True)

Athletics                    0.142463
Gymnastics                   0.098508
Swimming                     0.085554
Shooting                     0.042225
Cycling                      0.040053
Fencing                      0.039596
Rowing                       0.039079
Cross Country Skiing         0.033687
Alpine Skiing                0.032565
Wrestling                    0.026387
Football                     0.024879
Sailing                      0.024292
Equestrianism                0.023400
Canoeing                     0.022761
Boxing                       0.022304
Speed Skating                0.020703
Ice Hockey                   0.020346
Hockey                       0.019980
Biathlon                     0.018048
Basketball                   0.016731
Weightlifting                0.014521
Water Polo                   0.014186
Judo                         0.014020
Handball                     0.013518
Art Competitions             0.013197
Volleyball                   0.012556
Bobsleigh                    0.011279
Tennis                       0.010556
Diving                       0.010483
Ski Jumping                  0.008856
Archery                      0.008609
Figure Skating               0.008476
Table Tennis                 0.007211
Modern Pentathlon            0.006186
Short Track Speed Skating    0.005658
Luge                         0.005455
Badminton                    0.005374
Nordic Combined              0.004957
Freestyle Skiing             0.003456
Snowboarding                 0.003452
Synchronized Swimming        0.003353
Baseball                     0.003297
Rhythmic Gymnastics          0.002427
Taekwondo                    0.002235
Beach Volleyball             0.002080
Triathlon                    0.001951
Softball                     0.001763
Curling                      0.001708
Rugby Sevens                 0.001103
Golf                         0.000911
Skeleton                     0.000734
Tug-Of-War                   0.000627
Rugby                        0.000598
Trampolining                 0.000561
Polo                         0.000350
Lacrosse                     0.000221
Alpinism                     0.000092
Military Ski Patrol          0.000089
Cricket                      0.000089
Croquet                      0.000070
Motorboating                 0.000063
Racquets                     0.000044
Jeu De Paume                 0.000041
Roque                        0.000015
Basque Pelota                0.000007
Aeronautics                  0.000004
Name: Sport, dtype: float64

In [9]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [14]:
df = df.dropna(subset=['Medal','Age', "Height", 'Weight'])

In [11]:
df['Medal'].nunique()

3

In [12]:
df['Sport'].nunique()

66

In [18]:
df.isnull().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [15]:
df.shape

(30181, 15)

In [20]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold