Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [36]:
import pandas as pd
df = pd.read_csv('../../../Code_Here/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')

In [37]:
print(df.shape)
df.head()

(271116, 15)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [38]:
df = df.dropna()

In [39]:
df.isnull().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

(30181, 11)

,ID,Sex,Age,Height,Weight,Year,Sport,Games,Season,Event,Medal
40,16,M,28.0,184.0,85.0,2014,Ice Hockey,2014 Winter,Winter,Ice Hockey Men's Ice Hockey,Bronze
41,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Individual All-Around,Bronze
42,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Team All-Around,Gold
44,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Horse Vault,Gold
48,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Pommelled Horse,Gold

In [41]:
df['Sport'].value_counts()

Athletics                    3648
Swimming                     2486
Rowing                       2104
Ice Hockey                   1301
Hockey                       1168
Gymnastics                   1161
Fencing                      1109
Football                     1084
Canoeing                     1041
Basketball                   1000
Wrestling                     967
Volleyball                    958
Handball                      937
Cycling                       845
Water Polo                    764
Boxing                        708
Cross Country Skiing          687
Sailing                       677
Equestrianism                 663
Shooting                      542
Weightlifting                 532
Judo                          526
Speed Skating                 488
Biathlon                      388
Alpine Skiing                 354
Baseball                      333
Diving                        318
Bobsleigh                     283
Short Track Speed Skating     274
Figure Skating                249
Synchronized Swimming         214
Archery                       206
Luge                          178
Ski Jumping                   175
Tennis                        173
Softball                      172
Table Tennis                  163
Badminton                     154
Modern Pentathlon             153
Taekwondo                     144
Nordic Combined               137
Curling                       131
Rhythmic Gymnastics           124
Freestyle Skiing              102
Snowboarding                   89
Rugby Sevens                   74
Beach Volleyball               68
Triathlon                      30
Rugby                          30
Trampolining                   29
Skeleton                       24
Tug-Of-War                      8
Golf                            4
Art Competitions                2
Lacrosse                        2
Name: Sport, dtype: int64

In [78]:
# df[(df['Sport']=='Athletics') & (df['Event'].str.contains('metres'))]['Event'].unique()
df['Sport2'] =  df['Sport']
df.loc[df['Sport']=='Athletics', 'Sport2'] = df['Event']
df[(df['Sport']!='Athletics')].head()

print(f"Unique sports: {df['Sport'].nunique()} \nUnique Sport2: {df['Sport2'].nunique()}")

Unique sports: 55
Unique Sport2: 136

In [128]:
df.groupby('Sport2').nunique().T

Sport2,Alpine Skiing,Archery,Art Competitions,"Athletics Men's 1,500 metres","Athletics Men's 1,500 metres Walk","Athletics Men's 1,600 metres Medley Relay",Athletics Men's 10 kilometres Walk,Athletics Men's 10 mile Walk,"Athletics Men's 10,000 metres",Athletics Men's 100 metres,...,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Tug-Of-War,Volleyball,Water Polo,Weightlifting,Wrestling
ID,208,142,2,68,1,9,5,3,57,71,...,86,120,130,20,25,8,752,544,415,768
Sex,2,2,1,1,1,1,1,1,1,1,...,2,2,2,2,2,1,2,2,2,2
Age,19,28,2,14,1,7,4,3,16,16,...,21,16,22,12,13,7,24,24,23,23
Height,36,34,2,23,1,7,5,3,20,21,...,29,40,36,14,19,6,55,44,49,51
Weight,48,47,2,23,1,8,5,3,21,24,...,30,43,39,18,16,7,56,60,110,86
Year,19,12,2,27,1,1,5,1,24,29,...,8,5,11,5,5,3,14,23,26,28
Sport2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Games,19,12,2,27,1,1,5,1,24,29,...,8,5,11,5,5,3,14,23,26,28
Season,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Event,10,4,2,1,1,1,1,1,1,1,...,6,8,6,2,2,1,2,2,21,29
Medal,3,3,2,3,1,3,3,3,3,3,...,3,3,3,3,3,2,3,3,3,3

In [122]:
df = df[['ID', 'Sex', 'Age', 'Height', 'Weight', 'Year','Sport2','Games', 'Season','Event', 'Medal']]
print(df.shape)
df.head()

(30181, 11)

,ID,Sex,Age,Height,Weight,Year,Sport2,Games,Season,Event,Medal
40,16,M,28.0,184.0,85.0,2014,Ice Hockey,2014 Winter,Winter,Ice Hockey Men's Ice Hockey,Bronze
41,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Individual All-Around,Bronze
42,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Team All-Around,Gold
44,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Horse Vault,Gold
48,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Pommelled Horse,Gold

In [123]:
df.groupby('Sport2').nunique().T.iloc[7].sort_values()

Sport2
Rugby Sevens                                  1
Athletics Men's 5,000 metres, Team            1
Athletics Men's Discus Throw, Both Hands      1
Golf                                          1
Athletics Men's Javelin Throw, Both Hands     1
                                             ..
Wrestling                                    28
Athletics Men's 100 metres                   29
Athletics Men's Long Jump                    29
Athletics Men's Shot Put                     29
Athletics Men's Triple Jump                  29
Name: Games, Length: 136, dtype: int64

In [127]:
df.groupby('Sport2')['ID'].count()

Sport2
Alpine Skiing                                   354
Archery                                         206
Art Competitions                                  2
Athletics Men's 1,500 metres                     77
Athletics Men's 1,500 metres Walk                 1
Athletics Men's 1,600 metres Medley Relay         9
Athletics Men's 10 kilometres Walk                7
Athletics Men's 10 mile Walk                      3
Athletics Men's 10,000 metres                    71
Athletics Men's 100 metres                       84
Athletics Men's 110 metres Hurdles               78
Athletics Men's 2,500 metres Steeplechase         1
Athletics Men's 2,590 metres Steeplechase         3
Athletics Men's 20 kilometres Walk               47
Athletics Men's 200 metres                       78
Athletics Men's 200 metres Hurdles                3
Athletics Men's 3 mile, Team                     10
Athletics Men's 3,000 metres Steeplechase        62
Athletics Men's 3,000 metres Walk                 3
Athletics Men's 3,000 metres, Team               33
Athletics Men's 3,200 metres Steeplechase         2
Athletics Men's 3,500 metres Walk                 3
Athletics Men's 4 mile, Team                      5
Athletics Men's 4 x 100 metres Relay            282
Athletics Men's 4 x 400 metres Relay            295
Athletics Men's 400 metres                       77
Athletics Men's 400 metres Hurdles               74
Athletics Men's 5 mile                            4
Athletics Men's 5,000 metres                     71
Athletics Men's 5,000 metres, Team                3
Athletics Men's 50 kilometres Walk               50
Athletics Men's 56-pound Weight Throw             6
Athletics Men's 60 metres                         5
Athletics Men's 800 metres                       77
Athletics Men's All-Around Championship           1
Athletics Men's Cross-Country, Individual         9
Athletics Men's Cross-Country, Team              46
Athletics Men's Decathlon                        72
Athletics Men's Discus Throw                     81
Athletics Men's Discus Throw, Both Hands          3
Athletics Men's Discus Throw, Greek Style         5
Athletics Men's Hammer Throw                     75
Athletics Men's High Jump                        81
Athletics Men's Javelin Throw                    73
Athletics Men's Javelin Throw, Both Hands         3
Athletics Men's Javelin Throw, Freestyle          6
Athletics Men's Long Jump                        79
Athletics Men's Marathon                         72
Athletics Men's Pentathlon                        9
Athletics Men's Pentathlon (Ancient)              2
Athletics Men's Pole Vault                       79
Athletics Men's Shot Put                         80
Athletics Men's Shot Put, Both Hands              3
Athletics Men's Standing High Jump               11
Athletics Men's Standing Long Jump               11
Athletics Men's Standing Triple Jump              3
Athletics Men's Stone Throw                       3
Athletics Men's Triple Jump                      78
Athletics Women's 1,500 metres                   36
Athletics Women's 10 kilometres Walk              6
Athletics Women's 10,000 metres                  23
Athletics Women's 100 metres                     63
Athletics Women's 100 metres Hurdles             37
Athletics Women's 20 kilometres Walk             15
Athletics Women's 200 metres                     53
Athletics Women's 3,000 metres                    9
Athletics Women's 3,000 metres Steeplechase       9
Athletics Women's 4 x 100 metres Relay          248
Athletics Women's 4 x 400 metres Relay          182
Athletics Women's 400 metres                     42
Athletics Women's 400 metres Hurdles             27
Athletics Women's 5,000 metres                   18
Athletics Women's 80 metres Hurdles              23
Athletics Women's 800 metres                     46
Athletics Women's Discus Throw                   59
Athletics Women's Hammer Throw                   15
Athletics Women's Heptathlon                     27
Athletics Women's High Jump                      62
Athletics Women's Javelin Throw                  59
Athletics Women's Long Jump                      54
Athletics Women's Marathon                       27
Athletics Women's Pentathlon                     15
Athletics Women's Pole Vault                     15
Athletics Women's Shot Put                       51
Athletics Women's Triple Jump                    18
Badminton                                       154
Baseball                                        333
Basketball                                     1000
Beach Volleyball                                 68
Biathlon                                        388
Bobsleigh                                       283
Boxing                                          708
Canoeing                                       1041
Cross Country Skiing                            687
Curling                                         131
Cycling                                         845
Diving                                          318
Equestrianism                                   663
Fencing                                        1109
Figure Skating                                  249
Football                                       1084
Freestyle Skiing                                102
Golf                                              4
Gymnastics                                     1161
Handball                                        937
Hockey                                         1168
Ice Hockey                                     1301
Judo                                            526
Lacrosse                                          2
Luge                                            178
Modern Pentathlon                               153
Nordic Combined                                 137
Rhythmic Gymnastics                             124
Rowing                                         2104
Rugby                                            30
Rugby Sevens                                     74
Sailing                                         677
Shooting                                        542
Short Track Speed Skating                       274
Skeleton                                         24
Ski Jumping                                     175
Snowboarding                                     89
Softball                                        172
Speed Skating                                   488
Swimming                                       2486
Synchronized Swimming                           214
Table Tennis                                    163
Taekwondo                                       144
Tennis                                          173
Trampolining                                     29
Triathlon                                        30
Tug-Of-War                                        8
Volleyball                                      958
Water Polo                                      764
Weightlifting                                   532
Wrestling                                       967
Name: ID, dtype: int64

In [110]:
df[df['Sport']=='Art Competitions']

,ID,Sex,Age,Height,Weight,Year,Sport,Games,Season,Event,Medal,Sport2
81616,41434,M,26.0,172.0,76.0,1924,Art Competitions,1924 Summer,Summer,Art Competitions Mixed Literature,Bronze,Art Competitions
96760,48996,M,38.0,176.0,75.0,1948,Art Competitions,1948 Summer,Summer,"Art Competitions Mixed Architecture, Architect...",Gold,Art Competitions

In [156]:
df['Games'].unique()

array(['2014 Winter', '1948 Summer', '1952 Summer', '1992 Winter',
       '1994 Winter', '2002 Winter', '2006 Winter', '1996 Summer',
       '2016 Summer', '2008 Summer', '2012 Summer', '2000 Summer',
       '2004 Summer', '1980 Summer', '1984 Summer', '1992 Summer',
       '1988 Summer', '1960 Summer', '1964 Summer', '1972 Summer',
       '1924 Winter', '1912 Summer', '1932 Summer', '1924 Summer',
       '1920 Summer', '1988 Winter', '1968 Winter', '1976 Summer',
       '2010 Winter', '1956 Summer', '1972 Winter', '1908 Summer',
       '1980 Winter', '1984 Winter', '1968 Summer', '1998 Winter',
       '1960 Winter', '1936 Summer', '1928 Summer', '1976 Winter',
       '1964 Winter', '1936 Winter', '1956 Winter', '1932 Winter',
       '1904 Summer', '1952 Winter', '1906 Summer', '1900 Summer',
       '1896 Summer', '1948 Winter', '1928 Winter'], dtype=object)

In [134]:
#Drop some sports
#feature engineering
df = df[~df['Sport2'].isin(["Snowboarding","Rugby Sevens",
                           "Beach Volleyball","Rugby","Triathlon",
                           "Trampolining","Skeleton","Tug-Of-War" ,"Golf",
                           "Art Competitions", "Lacrosse"])]

In [135]:
df['Sport2'].nunique()

125

In [136]:
pd.set_option('display.max_rows', 800)

df["Sport2"].value_counts()

Swimming                                       2486
Rowing                                         2104
Ice Hockey                                     1301
Hockey                                         1168
Gymnastics                                     1161
Fencing                                        1109
Football                                       1084
Canoeing                                       1041
Basketball                                     1000
Wrestling                                       967
Volleyball                                      958
Handball                                        937
Cycling                                         845
Water Polo                                      764
Boxing                                          708
Cross Country Skiing                            687
Sailing                                         677
Equestrianism                                   663
Shooting                                        542
Weightlifting                                   532
Judo                                            526
Speed Skating                                   488
Biathlon                                        388
Alpine Skiing                                   354
Baseball                                        333
Diving                                          318
Athletics Men's 4 x 400 metres Relay            295
Bobsleigh                                       283
Athletics Men's 4 x 100 metres Relay            282
Short Track Speed Skating                       274
Figure Skating                                  249
Athletics Women's 4 x 100 metres Relay          248
Synchronized Swimming                           214
Archery                                         206
Athletics Women's 4 x 400 metres Relay          182
Luge                                            178
Ski Jumping                                     175
Tennis                                          173
Softball                                        172
Table Tennis                                    163
Badminton                                       154
Modern Pentathlon                               153
Taekwondo                                       144
Nordic Combined                                 137
Curling                                         131
Rhythmic Gymnastics                             124
Freestyle Skiing                                102
Athletics Men's 100 metres                       84
Athletics Men's High Jump                        81
Athletics Men's Discus Throw                     81
Athletics Men's Shot Put                         80
Athletics Men's Long Jump                        79
Athletics Men's Pole Vault                       79
Athletics Men's Triple Jump                      78
Athletics Men's 200 metres                       78
Athletics Men's 110 metres Hurdles               78
Athletics Men's 400 metres                       77
Athletics Men's 1,500 metres                     77
Athletics Men's 800 metres                       77
Athletics Men's Hammer Throw                     75
Athletics Men's 400 metres Hurdles               74
Athletics Men's Javelin Throw                    73
Athletics Men's Marathon                         72
Athletics Men's Decathlon                        72
Athletics Men's 5,000 metres                     71
Athletics Men's 10,000 metres                    71
Athletics Women's 100 metres                     63
Athletics Women's High Jump                      62
Athletics Men's 3,000 metres Steeplechase        62
Athletics Women's Javelin Throw                  59
Athletics Women's Discus Throw                   59
Athletics Women's Long Jump                      54
Athletics Women's 200 metres                     53
Athletics Women's Shot Put                       51
Athletics Men's 50 kilometres Walk               50
Athletics Men's 20 kilometres Walk               47
Athletics Men's Cross-Country, Team              46
Athletics Women's 800 metres                     46
Athletics Women's 400 metres                     42
Athletics Women's 100 metres Hurdles             37
Athletics Women's 1,500 metres                   36
Athletics Men's 3,000 metres, Team               33
Athletics Women's 400 metres Hurdles             27
Athletics Women's Heptathlon                     27
Athletics Women's Marathon                       27
Athletics Women's 10,000 metres                  23
Athletics Women's 80 metres Hurdles              23
Athletics Women's 5,000 metres                   18
Athletics Women's Triple Jump                    18
Athletics Women's Hammer Throw                   15
Athletics Women's 20 kilometres Walk             15
Athletics Women's Pole Vault                     15
Athletics Women's Pentathlon                     15
Athletics Men's Standing Long Jump               11
Athletics Men's Standing High Jump               11
Athletics Men's 3 mile, Team                     10
Athletics Men's Cross-Country, Individual         9
Athletics Men's 1,600 metres Medley Relay         9
Athletics Men's Pentathlon                        9
Athletics Women's 3,000 metres                    9
Athletics Women's 3,000 metres Steeplechase       9
Athletics Men's 10 kilometres Walk                7
Athletics Men's Javelin Throw, Freestyle          6
Athletics Women's 10 kilometres Walk              6
Athletics Men's 56-pound Weight Throw             6
Athletics Men's 60 metres                         5
Athletics Men's 4 mile, Team                      5
Athletics Men's Discus Throw, Greek Style         5
Athletics Men's 5 mile                            4
Athletics Men's Standing Triple Jump              3
Athletics Men's 3,500 metres Walk                 3
Athletics Men's Javelin Throw, Both Hands         3
Athletics Men's 10 mile Walk                      3
Athletics Men's 3,000 metres Walk                 3
Athletics Men's 200 metres Hurdles                3
Athletics Men's Shot Put, Both Hands              3
Athletics Men's Discus Throw, Both Hands          3
Athletics Men's 2,590 metres Steeplechase         3
Athletics Men's 5,000 metres, Team                3
Athletics Men's Stone Throw                       3
Athletics Men's 3,200 metres Steeplechase         2
Athletics Men's Pentathlon (Ancient)              2
Athletics Men's 2,500 metres Steeplechase         1
Athletics Men's All-Around Championship           1
Athletics Men's 1,500 metres Walk                 1
Name: Sport2, dtype: int64

In [137]:
df.head()

,ID,Sex,Age,Height,Weight,Year,Sport2,Games,Season,Event,Medal
40,16,M,28.0,184.0,85.0,2014,Ice Hockey,2014 Winter,Winter,Ice Hockey Men's Ice Hockey,Bronze
41,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Individual All-Around,Bronze
42,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Team All-Around,Gold
44,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Horse Vault,Gold
48,17,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Pommelled Horse,Gold

In [143]:
df['Medal'].value_counts(normalize = True)

Gold      0.336910
Bronze    0.336541
Silver    0.326548
Name: Medal, dtype: float64

In [163]:
#Split the data
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.2, random_state=42)

In [164]:
train.shape, test.shape

((23856, 11), (5965, 11))

In [165]:
train.head()

,ID,Sex,Age,Height,Weight,Year,Sport2,Games,Season,Event,Medal
67797,34649,M,29.0,184.0,79.0,1972,Fencing,1972 Summer,Summer,"Fencing Men's epee, Team",Gold
198695,99778,F,16.0,163.0,58.0,1968,Swimming,1968 Summer,Summer,Swimming Women's 4 x 100 metres Medley Relay,Bronze
163193,81927,M,26.0,188.0,92.0,1964,Rowing,1964 Summer,Summer,Rowing Men's Coxed Pairs,Silver
261704,130944,M,25.0,177.0,75.0,1988,Football,1988 Summer,Summer,Football Men's Football,Silver
246836,123589,M,27.0,169.0,68.0,1960,Hockey,1960 Summer,Summer,Hockey Men's Hockey,Bronze

In [ ]:
%%capture
# import sys

# # If you're on Colab:
# if 'google.colab' in sys.modules:
#     DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
#     !pip install category_encoders==2.*
#     !pip install pandas-profiling==2.*

# # If you're working locally:
# else:
#     DATA_PATH = '../data/'

In [ ]:
# Read New York City property sales data
# import pandas as pd
# df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Your code starts here:

In [ ]:
# Change column names: replace spaces with underscores

In [ ]:
# Get Pandas Profiling Report

In [ ]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)

In [ ]:
# Q. What's the date range of these property sales in Tribeca?

In [ ]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

In [ ]:
# Q. What is the maximum SALE_PRICE in this dataset?

In [ ]:
# Look at the row with the max SALE_PRICE

In [ ]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?

In [ ]:
# Keep only the single units

In [ ]:
# Q. Now what is the max sales price? How many square feet does it have?

In [ ]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

In [ ]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

In [ ]:
# What are the building class categories?
# How frequently does each occur?

In [ ]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)

In [ ]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE

In [ ]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [ ]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?

In [ ]:
# Make a judgment call:
# Keep rows where sale price was < $35 million

# Check how many rows you have now. (Should be down to 90 rows.)

In [ ]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline

In [ ]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.